language: go
go:
  - 1.4.2

env:
  global:
    - KAFKA_PEERS=localhost:9091,localhost:9092,localhost:9093,localhost:9094,localhost:9095
    - ZOOKEEPER_PEERS=localhost:2181,localhost:2182,localhost:2183,localhost:2184,localhost:2185
    - KAFKA_INSTALL_ROOT=/home/travis/kafka
    - KAFKA_HOSTNAME=localhost
    - DEBUG=true
  matrix:
    - KAFKA_VERSION=0.8.2.1

before_install:
  - export REPOSITORY_ROOT=${TRAVIS_BUILD_DIR}/Godeps/_workspace/src/github.com/mailgun/sarama
  - Godeps/_workspace/src/github.com/mailgun/sarama/vagrant/install_cluster.sh
  - Godeps/_workspace/src/github.com/mailgun/sarama/vagrant/boot_cluster.sh
  - Godeps/_workspace/src/github.com/mailgun/sarama/vagrant/create_topics.sh

script:
 - make test
 - make vet
 - make fmt

matrix:
  include:
    - go: tip
      env: KAFKA_VERSION=0.8.2.1
  allow_failures:
    - go: tip
  fast_finish: true

sudo: false
